<!DOCTYPE html>  
<html lang="vi">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Danh sách Frame</title>  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">  
    <style>  
        .frame-container {  
            position: relative;  
            display: inline-block;  
            margin: 10px;  
        }  
        .frame-link {  
            display: block;  
            position: relative;  
        }  
        .frame-link img {  
            max-width: 200px; /* Kích thước tối đa của hình ảnh */  
            height: auto;  
            border: 2px solid #ccc;  
            border-radius: 5px;  
        }  
        .frame-checkbox {  
            position: absolute;  
            top: 5px;  
            left: 5px;  
            z-index: 10;  
        }  
        .spinner {  
            position: fixed;  
            top: 50%;  
            left: 50%;  
            transform: translate(-50%, -50%);  
            border: 4px solid rgba(255, 255, 255, 0.3);  
            border-radius: 50%;  
            border-top: 4px solid rgba(255, 69, 0, 1);  
            width: 40px;  
            height: 40px;  
            animation: spin 1s linear infinite;  
            z-index: 9999; /* Đảm bảo xuất hiện trên tất cả các phần tử khác */  
        }  
        
        @keyframes spin {  
            0% { transform: rotate(0deg); }  
            100% { transform: rotate(360deg); }  
        }  
    </style>  
</head>  
<body class="bg-gray-100">  
    <div class="container mx-auto p-4">  
        <h1 class="text-2xl font-bold mb-5">Danh sách Frame</h1>  
        <form id="tag-form" method="POST" action="/save-tags">  
            <label for="tags">Thêm tag:</label>  
            <input type="text" id="tags" name="tags" placeholder="Nhập các tag cách nhau bằng dấu phẩy">  
            <input type="hidden" id="selected-frames" name="frame_ids" value="">  
            <button type="submit">Lưu Tag</button>  
        </form>  
        
        <form method="POST" class="mb-5">  
            <input type="text" name="query" placeholder="Tìm kiếm..." class="border p-2 rounded">  
            <input type="number" name="top_k" placeholder="Số lượng" class="border p-2 rounded" min="1" value="50">  
            <button type="submit" class="bg-blue-500 text-white p-2 rounded">Tìm kiếm</button>  
        </form>  
        <select id="tag-select" onchange="filterFramesByTag(this.value)">  
            <option value="">-- Chọn tag --</option>  
            <!-- Các tag sẽ được thêm vào đây qua JavaScript -->  
        </select>  
        <div id="loading-spinner" class="spinner" ></div> <!-- Spinner -->  
        <div class="center-content" style="display: none;">  
            {% if top_frames %}  
                <div class="frame-gallery flex flex-wrap justify-start" style="padding: 10px">  
                    {% for frame in top_frames %}  
                    <div class="frame-container">  
                        <input type="checkbox" class="frame-checkbox outline-Danger form-checkbox"   
                               style="color: rgba(255, 69, 0, 0.7)"  
                               data-frame-id="{{ frame.frameid }}"   
                               data-frame="{{ frame }}"  
                               onchange="updateSelectedFrames(this)">  
        
                        <a href="#" class="frame-link" data-frameidx="{{ frame.filepath.split('/')[-1].split('.')[0] }}"   
                           onclick="openImageModal('{{ url_for('serve_frame', filename=frame.filepath.split('/')[-1]) }}', '{{ frame.filepath.split('/')[-1].split('.')[0] }}')">                   
                            <img data-src="{{ url_for('serve_frame', filename=frame.filepath.split('/')[-1]) }}"   
                                 alt="{{ frame.filepath }}"   
                                 class="lazy-load"   
                                 style="opacity: 0;">  
                        </a>  
                    </div>    
                    {% endfor %}  
                </div>  
            {% else %}  
                <p>Không có frame nào để hiển thị.</p>  
            {% endif %}  
        </div>      
    </div>  

    <script>  
        function openImageModal(imageUrl, frameId) {  
            // Tạo modal để hiển thị hình ảnh chi tiết  
            const modal = document.createElement('div');  
            modal.style.position = 'fixed';  
            modal.style.top = '0';  
            modal.style.left = '0';  
            modal.style.width = '100%';  
            modal.style.height = '100%';  
            modal.style.backgroundColor = 'rgba(0, 0, 0, 0.8)';  
            modal.style.display = 'flex';  
            modal.style.justifyContent = 'center';  
            modal.style.alignItems = 'center';  
            modal.style.zIndex = '1000';  

            const img = document.createElement('img');  
            img.src = imageUrl;  
            img.style.maxWidth = '90%';  
            img.style.maxHeight = '90%';  
            modal.appendChild(img);  

            const closeButton = document.createElement('button');  
            closeButton.innerText = 'Đóng';  
            closeButton.style.position = 'absolute';  
            closeButton.style.top = '20px';  
            closeButton.style.right = '20px';  
            closeButton.style.backgroundColor = 'red';  
            closeButton.style.color = 'white';  
            closeButton.style.border = 'none';  
            closeButton.style.padding = '10px';  
            closeButton.style.cursor = 'pointer';  
            closeButton.onclick = function() {  
                document.body.removeChild(modal);  
            };  
            modal.appendChild(closeButton);  

            document.body.appendChild(modal);  
        }  
    </script>  
    <script>  
        document.addEventListener("DOMContentLoaded", function() {  
            const lazyImages = document.querySelectorAll(".lazy-load");  
            
            const observer = new IntersectionObserver((entries, observer) => {  
                entries.forEach(entry => {  
                    if (entry.isIntersecting) {  
                        const img = entry.target;  
                        img.src = img.getAttribute('data-src');  
                        img.onload = () => img.style.opacity = 1; // Phát hiện load xong để hiển thị  
                        observer.unobserve(img);  
                    }  
                });  
            });  
            
            lazyImages.forEach(image => {  
                observer.observe(image);  
            });  
        });  
        </script>  
        <script>  
            document.addEventListener("DOMContentLoaded", function() {  
                const loadingSpinner = document.getElementById("loading-spinner");  
                const content = document.querySelector(".center-content");  
            
                // Hiện spinner khi bắt đầu nạp trang  
                loadingSpinner.style.display = "block";  
            
                // Giả lập thời gian tải dữ liệu từ MongoDB và xử lý  
                // Thay thế đoạn này bằng việc nạp trang thực tế  
                setTimeout(() => {  
                    content.style.display = "block"; // Hiện thị nội dung  
                    loadingSpinner.style.display = "none"; // Ẩn spinner  
                }, 2000); // Thay thế bằng thời gian thực tế để tải dữ liệu  
            });  
        </script> 
        <script>  
            function updateSelectedFrames(checkbox) {  
                const selectedFramesInput = document.getElementById("selected-frames");  
                const selectedFrames = selectedFramesInput.value.split(",").filter(Boolean);  
                
                const frameId = checkbox.dataset.frameId; // Lấy frame_id từ dataset  
            
                if (checkbox.checked) {  
                    selectedFrames.push(frameId); // Thêm frame_id vào danh sách  
                } else {  
                    const index = selectedFrames.indexOf(frameId);  
                    if (index > -1) {  
                        selectedFrames.splice(index, 1); // Xóa frame_id khỏi danh sách  
                    }  
                }  
                
                selectedFramesInput.value = selectedFrames.join(","); // Cập nhật input ẩn  
            } 
        </script>   
        
        
        <script>  
            document.addEventListener("DOMContentLoaded", function() {  
                fetch('/tags')  // Lấy danh sách tag từ server  
                    .then(response => response.json())  
                    .then(tags => {  
                        const tagSelect = document.getElementById("tag-select");  
                        // Thêm từng tag vào dropdown  
                        tags.forEach(tag => {  
                            const option = document.createElement("option");  
                            option.value = tag;  
                            option.textContent = tag;  
                            tagSelect.appendChild(option);  
                        });  
                    })  
                    .catch(error => console.error('Error fetching tags:', error));  
            });  
            
            function filterFramesByTag(tag) {  
                // Gửi yêu cầu đến server để lấy frame theo tag  
                fetch(`/frames?tag=${tag}`)  
                    .then(response => response.json())  
                    .then(frames => {  
                        // Cập nhật nội dung hiển thị trên trang với các frame tương ứng  
                        // Xử lý hiển thị frames  
                    });  
            }  
        </script>  
</body>  
</html>